body{
    background-color: hsl(103, 97%, 47%);
    color:#1a6eec;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button{
  padding: 5px 20px;
  background-color: #f55ee8;
  border-style: none;
  color: #fdffff;;
}

input{
  height: 20px;
}